.proj-container {
    @media(max-width: 1023px) {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

.projects {
    @media (min-width:1024px) {
        display: flex;
        justify-content: space-around;
        margin-left: 13%;
        margin-right: 13%;
        align-items: center
    }

    .image-cont {
        @media(max-width:1023px) {
            flex-direction: column;
        }

        .image {
            @media(max-width:1023px) {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: .75rem;
            }
        }

        .p-text {
            @media(max-width: 1023px) {
                font-size: 16px;
            }
        }
    }
}

.icon {
    @media(max-width:1023px) {
        width: 60px;
        height: 60px;
        margin-top: 4px;
    }
}